@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: orange;
}

.container {
    background-color: white;

    .founded-cards {
        background-color: black;
        color: white
    }
}